PORT=4030
DATABASE_URL=postgres://hc_user:hc_password@localhost:5432/hc_app_licensing
ISSUER_BASE_URL=http://127.0.0.1:4030
BACKCHANNEL_BASE_URL=http://host.docker.internal:4030
AUTHOR_ID=aut_demo
AUTHOR_PRIVATE_JWK_JSON={"kty":"OKP","crv":"Ed25519","kid":"author_2026_01","x":"REPLACE_ME","d":"REPLACE_ME"}
AUTHOR_CERT_JWS=REPLACE_ME
AUTHOR_REGISTRY_ROOT_JWKS_JSON={"keys":[]}
AUTHOR_REGISTRY_ISSUER=hc-author-registry
DCR_TRUSTED_CORE_JWKS_JSON={"keys":[]}
INSTALLATION_TOKEN_SECRET=installersecretinstallersecret
INSTALLATION_TOKEN_ISSUER=hekatoncheiros-core-installer
APP_ID=talpaversum/licensing
CORE_DELEGATION_JWKS_JSON={"keys":[{"crv":"Ed25519","x":"yX9arOMjShM8hvqmwg7B1abzkyAQYyfYPieQaTIh5Lk","kty":"OKP","kid":"core-delegation-dev-1"}]}
CORE_JWT_ISSUER=hekatoncheiros-core
